---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import Link from "@components/Link.astro";
import TableOfContents from "@components/TableOfContents.astro";

export async function getStaticPaths() {
  const oldprojects = (await getCollection("oldprojects"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return oldprojects.map((oldproject) => ({
    params: { id: oldproject.id },
    props: oldproject,
  }));
}
type Props = CollectionEntry<"oldprojects">;

const oldproject = Astro.props;
const { Content, headings } = await render(oldproject);
---

<Layout title={oldproject.data.title} description={oldproject.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/oldprojects">Back to oldprojects</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={oldproject.data.date} />
        </div>
        &bull;
        {
          oldproject.body && (
            <div class="font-base text-sm">{readingTime(oldproject.body)}</div>
          )
        }
      </div>
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {oldproject.data.title}
      </h1>
      {
        (oldproject.data.demoURL || oldproject.data.repoURL) && (
          <nav class="flex gap-1">
            {oldproject.data.demoURL && (
              <Link href={oldproject.data.demoURL} external>
                demo
              </Link>
            )}
            {oldproject.data.demoURL && oldproject.data.repoURL && (
              <span>/</span>
            )}
            {oldproject.data.repoURL && (
              <Link href={oldproject.data.repoURL} external>
                repo
              </Link>
            )}
          </nav>
        )
      }
    </div>
    <TableOfContents headings={headings} />
    <article class="animate">
      <Content />
    </article>
  </Container>
</Layout>
